* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

.preHeader {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 25px;
  background-color: rgb(238, 162, 20);
  margin-bottom: 10px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: #000;
}

.container {
  /* width: 50%; */
  /* margin-inline: auto; */
  display: grid;
  justify-content: center;
  align-items: center;
}

.profileImg {
  height: auto;
  width: 250px;
  border: 3px solid rgb(238, 162, 20);
  border-radius: 50%;
}
h1 {
  font-size: 3rem;
  text-decoration: underline;
}
h3 {
  color: darkviolet;
  font-size: 2rem;
}

/* programer info */
.programerInfo {
  font-size: 1.7rem;
  line-height: 1.5;
}

.mreze {
  font-size: 4rem;
  padding: 10px;
  margin-left: 3px;
}

/* footer */
footer {
  display: grid;
  justify-content: center;
  margin-top: 10px;
  background-color: rgb(238, 162, 20);
}
