.mainNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: var(--secondary-bg-color);
  font-size: var(--font-size-20px);
  margin-bottom: 12rem;
}

.mainNav ul li {
  display: flex;
  gap: 3rem;
}

.navA {
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: all 0.5s ease-in-out 0s;
}

.navA_hover:hover {
  font-size: var(--font-size-28px);
  cursor: default;
}
