.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20rem;
  margin-bottom: 20rem;
}

.heroTextBox {
  width: 30%;
}

.hero img {
  width: 35rem;
  height: auto;
  border-radius: 50%;
  border: 0.1rem solid var(--secondary-bg-color);
}
